<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="litium">
      <sectionGroup name="foundation">
        <section name="accountSettings" type="Litium.Foundation.Configuration.AccountSettingsConfigSectionHandler, Litium.Foundation" />
        <section name="nodeServices" type="Litium.Foundation.Configuration.NodeServicesConfigSectionHandler, Litium.Foundation" />
        <section name="controlPanelPages" type="Litium.Foundation.Configuration.ControlPanelPagesConfigSectionHandler, Litium.Foundation" />
        <section name="taskSettings" type="Litium.Foundation.Configuration.TaskSettingsConfigSectionHandler, Litium.Foundation" />
        <section name="general" type="Litium.Foundation.Configuration.GeneralConfigSectionHandler, Litium.Foundation" />
        <section name="search" type="Litium.Foundation.Configuration.SearchConfigurationSectionHandler, Litium.Foundation" />
        <section name="plugins" type="Litium.Foundation.Configuration.PluginsConfigSectionHandler, Litium.Foundation" />
      </sectionGroup>
      <sectionGroup name="studio">
        <section name="cms" type="Litium.Studio.Configuration.CmsConfigSectionHandler, Litium.Studio" />
        <section name="ecommerce" type="Litium.Studio.Configuration.ECommerceConfigSectionHandler, Litium.Studio" />
        <section name="productCatalog" type="Litium.Studio.Configuration.ProductCatalogConfigSectionHandler, Litium.Studio" />
        <section name="helpSettings" type="Litium.Studio.Configuration.HelpConfigSectionHandler, Litium.Studio" />
        <section name="storage" type="Litium.Studio.Configuration.StorageConfigSectionHandler, Litium.Studio" />
      </sectionGroup>
      <section name="commandTimeouts" type="Litium.Foundation.Configuration.CommandTimeoutsConfigSectionHandler, Litium.Foundation" />
    </sectionGroup>
    <section name="Exceptional" type="StackExchange.Exceptional.Settings, StackExchange.Exceptional" />
  </configSections>
  <connectionStrings>
    <add name="FoundationConnectionString" connectionString="Pooling=true;User Id=;Password=;Database=;Server=" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <litium>
    <foundation>
      <accountSettings enableSessionTimeoutsInGui="false">
        <systemUser enabled="false" systemUserGroup="" useSecureConnectionRedirection="true" />
        <passwordPolicy lockoutCount="-1" lockoutSeconds="300" expirePeriodInDays="-1" complexityRule="false" lengthRule="false" />
      </accountSettings>
      <general>
        <filesDirectory value="..\Files" />
        <smtpServer value="" username="" password="" enableSsl="false" />
        <eventLog maxAgeInMinutes="60" deleteIntervalInMinutes="60" pollingIntervalInSeconds="5" />
      </general>
      <nodeServices generateThumbnailsAtServerSide="true" invocationTimeoutMilliseconds="60000" />
      <controlPanelPages>
      </controlPanelPages>
      <taskSettings>
        <scheduledTasks>
          <scheduledTask type="Litium.Web.Sitemap.SiteMapScheduler, Litium.Web.Application" startTime="00:25" interval="24h" />
          <scheduledTask type="Litium.Foundation.Log.ScheduledTasks.LogTruncateScheduler, Litium.Foundation" startTime="00:30" interval="2h" parameters="Trace=1, Debug=2, Info=10, Warn=25, Error=100, Fatal=-1, MaxCount=-1" />
          <scheduledTask type="Litium.Foundation.Search.IndexOptimization, Litium.Foundation" startTime="02:00" interval="1d" />
          <scheduledTask type="Litium.Foundation.Modules.ECommerce.Campaigns.CampaignDeactivator, Litium.Studio" startTime="00:05" interval="1d" />
          <scheduledTask type="Litium.Foundation.Modules.ECommerce.Payments.PaymentStatusSynchronizer, Litium.Studio" startTime="00:00" interval="2h" />
          <scheduledTask type="Litium.Foundation.Modules.ECommerce.Statistics.StatisticScheduler, Litium.Studio" startTime="00:20" interval="1d" parameters="MaxOrderAgeInMonths=6, OrderStates=1;2;3, RelationsLimit=25" />
          <scheduledTask type="Litium.Foundation.Modules.ECommerce.Orders.OrderCleanupScheduler, Litium.Studio" startTime="00:40" interval="1d" />
          <scheduledTask type="Litium.Foundation.Modules.ProductCatalog.Products.AuditCleanupScheduler, Litium.Studio" startTime="00:45" interval="1d" />
          <scheduledTask type="Litium.Web.Customers.TargetGroups.CleanupScheduler, Litium.Web.Application" startTime="00:13" interval="1d" />
          <scheduledTask type="Litium.Web.Products.PriceAgents.PriceAgentScheduler, Litium.Web.Application" startTime="00:35" interval="1d" />
        </scheduledTasks>
        <startupTasks>
        </startupTasks>
      </taskSettings>
      <plugins>
        <assemblies>
        </assemblies>
        <types>
        </types>
      </plugins>
      <search enableChangeTracking="true" backOfficeFuzzySearchSimilarity="0.8" publicSiteFuzzySearchSimilarity="0.8" />
    </foundation>
    <studio>
      <cms>
        <routing>
          <disabledRoutingPath path="UI" />
        </routing>
      </cms>
      <ecommerce orderExportXslt="Litium.Studio.Modules.ECommerce.ExportOrders.xsl" gateWayIP="" enablePaymentReturnForSaleOrder="true" />
      <productCatalog enablePriceAgent="true" />
      <storage useCdn="false" useSecureCdn="false" cdnHost="" cdnSecureHost="" />
    </studio>
    <commandTimeouts>
      <commandTimeout command="CMS_DeleteInstanceProperty" timeOut="120" />
    </commandTimeouts>
  </litium>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Litium.Infrastructure.Excel" publicKeyToken="093d4a638630e7c5" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.0" newVersion="1.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Litium.Owin" publicKeyToken="093d4a638630e7c5" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.4.0.0" newVersion="7.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Litium.Foundation" publicKeyToken="e47737e618208e4b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.4.0.0" newVersion="7.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Litium.Abstractions" publicKeyToken="093d4a638630e7c5" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.4.0.0" newVersion="7.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <Exceptional applicationName="Litium">
    <ErrorStore type="SQL" connectionStringName="FoundationConnectionString" rollupSeconds="2" size="1000" />
    <!-- This entire section is optional, if you want to log all exceptions you can leave off <IgnoreErrors> -->
    <IgnoreErrors>
      <!-- Optional: Error messages to ignore -->
      <Regexes>
        <!-- Exceptions with messages matching a regex here will not be logged -->
        <!--<add name="connection broken" pattern="Request timed out\.$"/>-->
      </Regexes>
      <!-- Optional: Error types to ignore, e.g. <add type="System.Exception" /> or <add type="MyNameSpace.MyException" />-->
      <Types>
        <!-- Exceptions of the type here will not be logged, if you want to ignore an entire class of exception-->
        <!--<add type="System.Exception" />-->
      </Types>
    </IgnoreErrors>
    <LogFilters>
      <Form>
        <add name="password" replaceWith="********" />
      </Form>
      <Cookies>
        <add name=".ASPXAUTH" replaceWith="**we don't record tokens!**" />
        <add name=".AspNet.Litium" replaceWith="**we don't record tokens!**" />
      </Cookies>
    </LogFilters>
    <!-- Email settings to send to, if an email per exception is desired, only toAddress is required, other defaults are pulled from the <system.net> section -->
    <!-- other attributes are: smtpHost, smtpPort, smtpUserName, smtpPassword, smtpEnableSsl -->
    <!--<Email fromAddress="exceptions@site.com" fromDisplayName="Bob the Builder" toAddress="youremail@gmail.com" />-->
  </Exceptional>
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="10001" />
  </appSettings>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <pages>
      <controls>
        <add tagPrefix="ComponentArt" namespace="ComponentArt.Web.UI" assembly="ComponentArt.Web.UI" />
        <add tagPrefix="ComponentArtChart" namespace="ComponentArt.Web.Visualization.Charting" assembly="ComponentArt.Web.Visualization.Charting" />
        <add tagPrefix="Foundation" namespace="Litium.Foundation.GUI.WebControls" assembly="Litium.Foundation.GUI" />
        <add tagPrefix="LS" namespace="Litium.Studio.UI.Common.WebControls" assembly="Litium.Studio.UI" />
        <add tagPrefix="Telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
        <add tagPrefix="Toolbar" namespace="Litium.WebControls.GUI.Toolbar" assembly="Litium.WebControls.GUI" />
        <add tagPrefix="WebControls" namespace="Litium.WebControls.GUI" assembly="Litium.WebControls.GUI" />
      </controls>
    </pages>
    <compilation>
      <assemblies>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Runtime, Version=4.0.10.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
      <expressionBuilders>
        <add expressionPrefix="SystemString" type="Litium.Studio.ExpressionBuilders.SystemStringExpressionBuilder, Litium.Studio" />
      </expressionBuilders>
    </compilation>
    <authentication mode="None" />
    <customErrors mode="RemoteOnly" />
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <remove name="Session" />
      <add name="Session" preCondition="" type="System.Web.SessionState.SessionStateModule" />
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpErrors errorMode="Detailed" existingResponse="Auto" />
  </system.webServer>
  <location path="storage">
    <system.web>
      <customErrors mode="Off" />
    </system.web>
    <system.webServer>
      <httpErrors>
        <remove statusCode="500" subStatusCode="-1" />
        <remove statusCode="404" subStatusCode="-1" />
      </httpErrors>
    </system.webServer>
  </location>
  <location path="ui">
    <system.web>
      <customErrors mode="Off" />
    </system.web>
    <system.webServer>
      <httpErrors>
        <remove statusCode="500" subStatusCode="-1" />
        <remove statusCode="404" subStatusCode="-1" />
      </httpErrors>
      <!-- 
    enable static content cache to get better performance and pagespeed.
    if static content in this folder is changed during the cache-time it 
    is not reflected to the client before cache expires or user are doing 
    a hard refresh.
    -->
      <staticContent>
        <!--<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="06:00:00" />-->
      </staticContent>
    </system.webServer>
  </location>
</configuration>