<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	    autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="..\nlog-internal.log"
      >
  <!-- 
  See https://github.com/NLog/NLog/wiki
  for information on customizing logging rules and outputs.
   -->
  <variable name="logDirectory" value="${basedir}\.."/>
  <!-- To create the logfile in files directory the logDirectory can be set from the Global Diagnostic Context -->
  <!--<variable name="logDirectory" value="${gdc:item=filesDirectory}"/>-->
  <!-- To create the logfile in common files directory the logDirectory can be set from the Global Diagnostic Context -->
  <!--<variable name="logDirectory" value="${gdc:item=commonFilesDirectory}"/>-->

  <!--
  Read all configuration from the machine-specific file if it exists. 
  Good to use as developer not change default configuration but add 
  additional configuration to logg to files etc.
  -->
  <include file="${basedir}\NLog.${machinename}.config" ignoreErrors="true" />

  <targets async="true">
    <target xsi:type="Litium" name="db" />
    <target xsi:type="File"
				name="file"
				fileName="${logDirectory}\litium.log"
				maxArchiveFiles="1"
				archiveNumbering="Rolling"
				archiveAboveSize="10240000"
				layout="${longdate} [App:${appdomain:format=short}] [${activityid}] [${pad:padding=-5:inner=${uppercase:${level}}}] [${threadname}] ${logger} - ${message} ${exception:format=tostring}" />
    <target xsi:type="File"
				name="fileElasticsearch"
				fileName="${logDirectory}\elasticsearch.log"
				maxArchiveFiles="1"
				archiveNumbering="Rolling"
				archiveAboveSize="10240000"
				layout="${longdate} [App:${appdomain:format=short}] [${activityid}] [${pad:padding=-5:inner=${uppercase:${level}}}] [${threadname}] ${logger} - ${message} ${exception:format=tostring}" />
    <target xsi:type="Null" name="BlackHole" formatMessage="false"  />
  </targets>
  <rules>
    <!-- Block all logging -->
    <logger name="DotNetOpenAuth.*" minlevel="Trace" writeTo="BlackHole" final="true" />
    <logger name="Microsoft.EntityFrameworkCore.*" minlevel="Trace" writeTo="BlackHole"  final="true"/>
    <logger name="Microsoft.Owin.Security.Cookies.CookieAuthenticationMiddleware" minlevel="Trace" writeTo="BlackHole" final="true" />
    <logger name="Microsoft.Owin.Security.OAuth.OAuthBearerAuthenticationMiddleware" minlevel="Trace" writeTo="BlackHole" final="true" />
    <logger name="System.Web.Http.Tracing.ITraceWriter" minlevel="Trace" writeTo="BlackHole" final="true" />
    <logger name="Litium.Web.Media.Storage.StorageRequestContext" minlevel="Trace" writeTo="BlackHole" final="true" />
    <logger name="Litium.Foundation.Search.IndexConsumerProcessingLock+Cleanup" minlevel="Trace" writeTo="BlackHole" final="true" />
    <logger name="Litium.Foundation.Search.Providers.IndexingProvider+IndexPreProcessor" minlevel="Trace" writeTo="BlackHole" final="true" />
    <logger name="Litium.Events.EventBroker" minlevel="Trace" writeTo="BlackHole" final="true" />
    <logger name="Litium.Application.Caching.CacheLoader" minlevel="Trace" writeTo="BlackHole" final="true" />
    <logger name="Litium.Application.Common.FifoExecution" minlevel="Trace" writeTo="BlackHole" final="true" />
    <!-- Block trace writes -->
    <logger name="Litium.Caching.MemoryCacheService" maxlevel="Trace" writeTo="BlackHole" final="true" />
    <logger name="Litium.Caching.DistributedMemoryCacheService" maxlevel="Trace" writeTo="BlackHole" final="true" />
    <logger name="Litium.ServiceBus.ServiceBusQueue" maxlevel="Trace" writeTo="BlackHole" final="true" />
    <logger name="Litium.ServiceBus.ServiceBusTopic" maxlevel="Trace" writeTo="BlackHole" final="true" />
    <logger name="Nest.IElasticClient" minlevel="Trace" writeTo="fileElasticsearch" final="true" />

    <!--<logger name="*" minlevel="Debug" writeTo="db" />-->
		<logger name="*" minlevel="Info" writeTo="file" />
  </rules>

</nlog>