<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="8.0.0" targetFramework="net472" />
  <package id="AutoMapper.Collection" version="5.0.0" targetFramework="net472" />
  <package id="Castle.Core" version="4.4.1" targetFramework="net472" />
  <package id="Castle.Windsor" version="4.1.1" targetFramework="net472" />
  <package id="Dapper.StrongName" version="2.0.35" targetFramework="net472" />
  <package id="Humanizer.Core" version="2.8.26" targetFramework="net472" />
  <package id="iTextSharp-LGPL" version="4.1.6" targetFramework="net472" />
  <package id="Litium.Abstractions" version="7.5.0" targetFramework="net472" />
  <package id="Litium.Application" version="7.5.0" targetFramework="net472" />
  <package id="Litium.Application.Bootstrapper" version="7.5.0" targetFramework="net472" />
  <package id="Litium.Connect.Abstractions" version="7.5.0" targetFramework="net472" />
  <package id="Litium.Connect.Application" version="7.5.0" targetFramework="net472" />
  <package id="Litium.Foundation" version="7.5.0" targetFramework="net472" />
  <package id="Litium.Foundation.GUI" version="7.5.0" targetFramework="net472" />
  <package id="Litium.Framework.Search" version="5.1.4" targetFramework="net472" />
  <package id="Litium.Framework.Search.Indexing" version="5.1.4" targetFramework="net472" />
  <package id="Litium.Framework.Search.Indexing.Lucene" version="5.1.4" targetFramework="net472" />
  <package id="Litium.Framework.Search.Lucene" version="5.1.4" targetFramework="net472" />
  <package id="Litium.Infrastructure.Excel" version="1.0.2" targetFramework="net472" />
  <package id="Litium.Infrastructure.InversionOfControl" version="7.5.0" targetFramework="net472" />
  <package id="Litium.Infrastructure.Logging.NLog" version="7.5.0" targetFramework="net472" />
  <package id="Litium.Infrastructure.Logging.NLog.Extensions" version="7.5.0" targetFramework="net472" />
  <package id="Litium.Infrastructure.Search.Lucene" version="7.5.0" targetFramework="net472" />
  <package id="Litium.Owin" version="7.5.0" targetFramework="net472" />
  <package id="Litium.Setup.Complete" version="7.5.0" targetFramework="net472" />
  <package id="Litium.Setup.Config" version="7.5.0" targetFramework="net472" />
  <package id="Litium.Setup.Core" version="7.5.0" targetFramework="net472" />
  <package id="Litium.SqlClient.SNILoader" version="2.1.1.2" targetFramework="net472" />
  <package id="Litium.Studio" version="7.5.0" targetFramework="net472" />
  <package id="Litium.Studio.Builders" version="7.5.0" targetFramework="net472" />
  <package id="Litium.Studio.Packages" version="7.5.0" targetFramework="net472" />
  <package id="Litium.Studio.ThirdParty.DotNetZip" version="1.0.0" targetFramework="net472" />
  <package id="Litium.Studio.ThirdParty.PdfSharp" version="1.0.0" targetFramework="net472" />
  <package id="Litium.Utilities" version="7.5.0" targetFramework="net472" />
  <package id="Litium.Web.Abstractions" version="7.5.0" targetFramework="net472" />
  <package id="Litium.Web.Administration.Abstractions" version="7.5.0" targetFramework="net472" />
  <package id="Litium.Web.Administration.Application" version="7.5.0" targetFramework="net472" />
  <package id="Litium.Web.Administration.NodeServices" version="7.5.0" targetFramework="net472" />
  <package id="Litium.Web.Application" version="7.5.0" targetFramework="net472" />
  <package id="Litium.Web.Mvc.Abstractions" version="7.5.0" targetFramework="net472" />
  <package id="Litium.Web.WebApi.Abstractions" version="7.5.0" targetFramework="net472" />
  <package id="Litium.Xunit.Bootstrapper" version="2.0.4" targetFramework="net472" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net472" />
  <package id="Magick.NET.Core" version="4.1.0" targetFramework="net472" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.21.1" targetFramework="net472" />
  <package id="MetadataExtractor.StrongName" version="2.4.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.Cors" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.4.1" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Cryptography.Internal" version="3.1.7" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Cryptography.KeyDerivation" version="3.1.7" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.DataProtection.Abstractions" version="3.1.7" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.JsonPatch" version="3.1.7" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net472" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.Data.SqlClient" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.Data.SqlClient.SNI" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.EntityFrameworkCore" version="3.1.7" targetFramework="net472" />
  <package id="Microsoft.EntityFrameworkCore.Abstractions" version="3.1.7" targetFramework="net472" />
  <package id="Microsoft.EntityFrameworkCore.Analyzers" version="3.1.7" targetFramework="net472" />
  <package id="Microsoft.EntityFrameworkCore.Relational" version="3.1.7" targetFramework="net472" />
  <package id="Microsoft.EntityFrameworkCore.SqlServer" version="3.1.7" targetFramework="net472" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="3.1.7" targetFramework="net472" />
  <package id="Microsoft.Extensions.Caching.Memory" version="3.1.7" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="3.1.7" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.7" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="3.1.7" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.1.7" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.7" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyModel" version="3.1.6" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="3.1.7" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Composite" version="3.1.7" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="3.1.7" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="3.1.7" targetFramework="net472" />
  <package id="Microsoft.Extensions.Localization.Abstractions" version="3.1.7" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="3.1.7" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.7" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="3.1.7" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="3.1.7" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.7" targetFramework="net472" />
  <package id="Microsoft.Identity.Client" version="4.14.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.7.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="6.7.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Protocols" version="5.6.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="5.6.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.7.1" targetFramework="net472" />
  <package id="Microsoft.OpenApi" version="1.2.3" targetFramework="net472" />
  <package id="Microsoft.Owin" version="4.1.0" targetFramework="net472" />
  <package id="Microsoft.Owin.Cors" version="4.1.0" targetFramework="net472" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.1.0" targetFramework="net472" />
  <package id="Microsoft.Owin.Security" version="4.1.0" targetFramework="net472" />
  <package id="Microsoft.Owin.Security.Cookies" version="4.1.0" targetFramework="net472" />
  <package id="Microsoft.Owin.Security.OAuth" version="4.1.0" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="NLog" version="4.7.4" targetFramework="net472" />
  <package id="Owin" version="1.0" targetFramework="net472" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.7.1" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.7.1" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.7.1" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.Caching" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net472" />
  <package id="System.Security.Claims" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net472" />
  <package id="System.ServiceModel.Primitives" version="4.7.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.Threading.ThreadPool" version="4.3.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="net472" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net472" />
  <package id="XmpCore.StrongName" version="6.1.10" targetFramework="net472" />
  <package id="xunit" version="2.2.0" targetFramework="net472" />
  <package id="xunit.abstractions" version="2.0.1" targetFramework="net472" />
  <package id="xunit.assert" version="2.2.0" targetFramework="net472" />
  <package id="xunit.core" version="2.2.0" targetFramework="net472" />
  <package id="xunit.extensibility.core" version="2.2.0" targetFramework="net472" />
  <package id="xunit.extensibility.execution" version="2.2.0" targetFramework="net472" />
  <package id="xunit.runner.visualstudio" version="2.4.3" targetFramework="net472" developmentDependency="true" />
</packages>